<h1>About Me</h1>

<hr>


<div class="row">
  <div class="col-md-4">
        <%= image_tag "", width: 300, alt: "profile image" %>
      </div>
      <div class="col-md-8">
      <p>

      <p>Web Developer based in Bangkok Thailand. I have a passion for solving complex problems. My areas of focus include Ruby on Rails, Golang, and  Algorithms & Data Structures.</p>
  </div>
</div>
