      <div class="inner cover">
      <h1 class="cover-heading">Welcome.</h1>
      <p class="lead">Let's build something.</p>
        <p class="lead">
          <class "btn btn-lg btn-secondary">
          <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
          </p>
      </div>
      <%= render "shared/application_footer" %>

